@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

:root{
    --color-primary: #000000;
    --color-title: #000;
    --align-title: left;
    --padding-container: 100px 0;
    --width-container: 90%;
    --max-width-container: 1200px;
    --color-btn: #0f0f11;
    --text-btn: #fff;
    --padding-btn: 20px 35px;
    --height-shape:18em;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color:#000;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: #E5E5F7;
    opacity: 1;
    background-image:  radial-gradient(#44f7a3 0.7000000000000001px, transparent 0.7000000000000001px), radial-gradient(#44f7a3 0.7000000000000001px, #95fad8 0.7000000000000001px);
    background-size: 28px 28px;
    background-position: 0 0,14px 14px;
}

.container{
    width: 90%;
    max-width: var(--max-width-container);
    padding: var(--padding-container);
    margin: 0 auto;
    overflow: hidden;
}

.hero{
    height: 100vh;
    min-height: 500px;
    position: relative;
    --padding-container: 0;
}

.hero::after {
    content: "";
    display: block;
    position: absolute;
    height: var(--height-shape);
    width: 100%;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: -1;
    clip-path: polygon(0 100%, 100% 100%, 100% 0);
}



.hero__container{
    display: grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;
}

.hero__title{
    font-size: 4rem;
}

.hero__copy{
    font-size: 1.2rem;
    margin: 25px 0;
}


.hero__cta{
    display: inline-block;
    background: var(--color-btn);
    color: #fff;
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;
}

.hero__img{
    width: 95%;
}

/* Main */

.main{
    background: #fff;
}

.title{
    font-size: 2.5rem;
    text-align: var(--align-title);
    color: var(--color-title);
}

.title--border::after{
    content: "";
    display: block;
    width: 100px;
    margin-top: 20px;
    height: 4px;
    background-color: var(--color-primary);
}


.cta{
    display: inline-block;
    background: var(--color-btn);
    color: var(--text-btn);
    padding: var(--padding-btn);
    text-align: center;
    text-decoration: none;

}


/* Instrcutor */

.instructor{
    text-align: center;
    border-bottom: 2px solid #ccc;
    --padding-container: 30px 0 60px;
}

.instructor__container{
    width: 70%;
    margin: 0 auto;
}

.instructor__name{
    margin: 20px 0;
}

.instructor__tag{
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 20px;
}

.instructor__paragraph{
    text-align: left;
    line-height: 1.5;
    font-style: italic;
    color: #615a5a;
}

.instructor__img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

/* about */

.about{
    display: grid;
    grid-template-columns: 5fr 4fr;
    place-items: center;
}

.about__course{
    width: 90%;
}

.about__paragraph{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: 300;
}

.about__picture{
    text-align: center;
}

.about__img{
    width: 95%;
}



/* course */

.course{
    --color-title: #fff;
    --color-btn: #fff;
    --text-btn: #444cf7;
    color: var(--color-title);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* align-items: center; */
}

.course__about{
    z-index: 100;
    align-self: center;
    width: 97%;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background: var(--color-primary);
    grid-column: 1/4;
    grid-row: 2/-2;
}

.course__picture{
  
    margin:0;
    grid-column: 3/-1;
    grid-row: 1/-1;
}

.course__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.course__picture--right{
    grid-column: 1/4;
}

.course__about--left{
    grid-column: 3/-1;
}





@media screen and (max-width:768px){
    :root{
        --height-shape:14em;
    }

    /* Agregue un height auto, porque no habia espacio disponible
    para la imagen y los elementos */
    .hero{
        min-height: 100vh;
        height: auto;
    }

     /* La primera fila tendrá una fila, definida por el 
     tamaño de su contenido "max-content" */

    .hero__container{
        --padding-container: 60px 0;
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
    }

     /* Quite el height y limite el width de la imagen */
    .hero__img{
        order: -1;
        max-width: 300px;
    }

    .hero__title{
        font-size: 3.8rem;
    }

    /* About */

    .about{
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 80px;
    }

    .about__course{
        width: 100%;
    }

    .about__picture{
        order: -1;
    }

    .about__img{
        width: 100%;
    }

   


    /* Course */

    .course{
        grid-template-columns: repeat(6,1fr);
    }

    .course__about{
        grid-column: 1/6;
    }

    .course__about--left{
        grid-column: 2/-1;
    }

    .course__picture{
        grid-column: 2/-1;
    }

    .course__picture--right{
        grid-column: 1/6;
    }

   
}

@media screen and (max-width: 500px){
    :root{
        --padding-btn: 20px 0;
    }


    .hero__container{
        --padding-container: 45px 0;
    }

    .hero__texts{
        text-align: center;
    }

    .hero__title{
        font-size: 3rem;
    }

    .hero__cta{
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .title{
        font-size: 2rem;
    }

    .cta{
        display: block;
    }

    /* Instructor */

    .instructor{
        --padding-container: 60px 0;
    }

    .instructor__container{
        width: 90%;
    }

    /* About */

    .about{
        gap: 40px;
    }

    .about__course{
        width: 100%;
    }


    /* Course */

    .course{
        grid-template-columns: 1fr;
        --padding-container: 80px 0 30px;
    }

    .course--modifier{
        --padding-container:0 0 80px;
    }

    .course__about{
        padding: 20px 20px;
        width: 95%;
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    .course__picture{
        display: none;
    }
    

}

/* footer */

footer{
    background: #111107;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #38f512;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ccc;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px; /* Ajusta el ancho según tus preferencias */
    margin: 0 10px;
  }
  
  .icon {
    width: 60px; /* Ajusta el ancho según tus preferencias */
    height: 60px; /* Ajusta el alto según tus preferencias */
    background: #ccc; /* Color de fondo del icono */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .icon i {
    font-size: 30px; /* Tamaño del ícono */
  }
  
  .button span {
    font-size: 16px; /* Tamaño del texto */
    font-weight: 500;
  }
.wrapper .button:nth-child(1):hover .icon{
  background: #0958f5;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #ee6204;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #03ee17;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #00ffea;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #03e3f3;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
  color: #fff;
}
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #cabdbd;
}
.wrapper .button:nth-child(2) span{
  color: #cabdbd;
}
.wrapper .button:nth-child(3) span{
  color :#cabdbd;
}
.wrapper .button:nth-child(4) span{
  color: #cabdbd;;
}
.wrapper .button:nth-child(5) span{
  color: #cabdbd;;
}